#canvas {
  display: block;
  width: 95%;
  height: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
}

.chartbar {
  display: block;
  margin-left: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  max-width: 90%;
}
